<footer>
    <div id="footer-section" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <ul class="footer-social-links">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">LinkTree</a></li>
              <li><a href="#">Whatsapp</a></li>
              <li><a href="#">Gmail</a></li>
            </ul>
            <p class="copyright">
              &copy; NanoMadeByHand - Cerâmica 
            </p>
          </div> <!-- End col-sm-8 -->
        </div> <!-- End row -->
      </div> <!-- End container -->
    </div> <!-- End footer-section  -->
  </footer>