<header class="header">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
           <a class="navbar-brand" href="/"><img class="navbar-logo" src="/images/logo_nano.png" alt="" ></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-menues">
          <div class="collapse navbar-collapse" id="navigation-nav">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a class="section-scroll" href="/">Inicio</a></li>
              <li><a href="/#landing-offer">Ateliê</a></li>
              <li><a href="/#features-section">Aulas</a></li>
              <li><a href="/#team-section">Coleções</a></li>
              <li><a href="/#screenshots-section">Nós</a></li>
              <li><a href="/#footer-section">Contact</a></li>
              <li><a href="/user/login"><i class="fa-regular fa-user icon-set" ></i></a></li>
              <li><a href="#"><i class="fa-solid fa-bag-shopping icon-set"></i></a></li>
              <li><a href="/user/perfil">Perfil</a></li>
            </ul>
          </div>

          <div class="collapse navbar-collapse" id="admin-nav">
            <ul class="nav navbar-nav nav-admin">
              <% if(locals.isLogged && locals.userLogged.category_id == 1) {%>
                <!-- para mostrar estos enlaces solo si el  admin esta logueado -->
              <li><a href="/product/productItemsTable">Produtos</a></li>
              <li><a href="/product/collectionItemsTable">Coleções</a></li>
              <li><a href="/product/discountItemsTable">Descontos</a></li>
              <li><a href="/product/colorItemsTable">Cores</a></li>
              <li><a href="/product/sizeItemsTable">Tamanhos</a></li>
              <li><a href="/user/adminUsers">Usuarios</a></li>
              <li><a href="/user/categorias">Roles</a></li>
            </ul>
            <% } %>
          </div><!-- /.navbar-collapse -->
          
        </div>

        

      </div><!-- /.container -->
      

    </nav>
  </header>