<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
            <!-- Preload the Whole Page -->
            <div id="preloader">      
            <div id="loading-animation">&nbsp;</div>
            </div>
        
            <!-- Navbar -->
            <%- include('../partials/header') %>
     <!-- End Navbar -->
    <main>
      <form action="user/usertaxes" method="post">
        <h4>Taxes</h4>
        <input type="text" name="tipo" value="">
        <input type="text" name="porcentaje" value="">
      </form>
    </main>

     
     <!-- Footer
    ================================================== -->
    <%- include('../partials/footer') %> 
    <!-- End footer -->
     <!-- JS libraries and scripts -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="/js/jquery.appear.min.js"></script>
  <script src="/js/jquery.bxslider.min.js"></script>
  <script src="/js/jquery.owl.carousel.min.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.easing.1.3.js"></script>
  <script src="/js/jquery.imagesloaded.min.js"></script>
  <script src="/js/jquery.isotope.js"></script>
  <script src="/js/jquery.placeholder.js"></script>
  <script src="/js/jquery.smoothscroll.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.waypoints.js"></script>
  <script src="/js/jquery.fitvids.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.countdown.js"></script>
  <script src="/js/jquery.navbar-scroll.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/js/jquery.gmaps.js"></script>
  <script src="/js/main.js"></script>   
</body>
</html>